body
{
    margin: 0;
    padding: 0;

    background: black;

    font-family: "Public Sans", sans-serif;
    color: white;

    .logo-vat
    {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        img
        {
            width: 40%;

            @media only screen and (max-width: 900px)
            {
                width: 100%;
            }
        }
    }

    .titulos
    {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;

        .cont-titulos
        {
            display: flex;
            justify-content: space-between;
            align-items: center;

            width: 80%;

            padding: 20px 40px;

            border-radius: 10px;

            background: #ffffff20;
            
            @media only screen and (max-width: 900px)
            {
                justify-content: initial;

                padding: 20px 0px;

                width: 100%;
    
                border-radius: 0px;
            }

            div
            {
                &:nth-child(1)
                {
                    width: 180px;
                    
                    @media only screen and (max-width: 900px)
                    {
                        width: 110px;
                        margin: 0px 35px;
                    }
                }

                &:nth-child(2)
                {
                    width: 250px;
                    
                    @media only screen and (max-width: 900px)
                    {
                        width: 110px;
                    }
                }

                &:nth-child(3)
                {
                    width: 230px;
                }

                &:nth-child(4)
                {
                    width: 150px;
                }

                &:nth-child(5)
                {
                    width: 85px;
                }

                &:nth-child(6)
                {
                    width: 85px;
                }

                span
                {
                    font-weight: bold;
                    font-size: 14px;                
                }
            }

            .custom-select
            {
                position: relative;
                display: inline-block;
                width: 200px; // largura do select
                height: 40px; // altura do select
                overflow: hidden;
                //border: 1px solid white;
                border-radius: 4px;
                
                // Pseudo-elemento para a seta
                &::after
                {
                    position: absolute;
                    content: "";
                    top: 18px;
                    right: 10px;
                    width: 0;
                    height: 0;
                    border: 6px solid transparent;
                    border-color: #fff transparent transparent transparent;
                    z-index: -1;
                }
                
                // Estilo para o select dentro do custom-select
                select
                {
                    width: 100%;
                    height: 100%;
                    border: none;
                    background-color: transparent; // Fundo transparente para que o pseudo-elemento seja visível
                    appearance: none; // Remove estilos padrão do navegador
                    color: white;

                    font-weight: bold;
                    font-size: 14px;  

                    @media only screen and (max-width: 900px)
                    {
                        font-size: 14px;
                        font-weight: bold;
                    }
                
                    // Estilização opcional para o foco
                    &:focus
                    {
                        outline: none;
                        border-color: red; // Estilo de foco
                    }

                    option
                    {
                        color: black;
                    }
                }
            }
        }

        @media only screen and (max-width: 900px)
        {
            display: flex;
            flex-direction: column;
            align-items: initial;
            width: 100%;
        }
    }

    #parlamentares-list
    {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;

        .parlamentar
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            width: 80%;

            padding: 20px 40px;

            border-radius: 10px;

            &:hover
            {
                background: #ffffff10;
            }

            div
            {
                width: 180px;
                    
                    @media only screen and (max-width: 900px)
                    {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
            }

            p
            {
                margin: 0;
                padding: 0;

                &:nth-child(1)
                {
                    width: 180px;
                    line-height: 40px;
                    
                    @media only screen and (max-width: 900px)
                    {
                        width: 110px;
                    }
                }

                &:nth-child(2)
                {
                    width: 250px;
                    
                    @media only screen and (max-width: 900px)
                    {
                        width: 110px !important;
                    }
                }

                &:nth-child(3)
                {
                    width: 230px;
                }

                &:nth-child(4)
                {
                    width: 150px;
                }

                &:nth-child(5)
                {
                    width: 85px;
                }

                &:nth-child(6)
                {
                    width: 85px;

                    text-align: right;
                }
            }

            .nao-assinou
            {
                background: #EB757550;

                text-align: center;

                border-radius: 5px;
            }

            .assinou
            {
                background: #429B9450;

                text-align: center;

                border-radius: 5px;
            }
        }

        .nenhum-encontrado
        {
            padding: 50px;
        }

        @media only screen and (max-width: 900px)
        {
            align-items: initial;
            width: 100%;

            .parlamentar
            {
                display: flex;
                justify-content: initial;
                align-items: center;
                width: 100%;
                padding: 20px 0px;
                border-radius: 10px;

                .assinou, .nao-assinou
                {
                    width: 110px;
                }
            }
        }
    }
}
