body
{
    margin: 0;
    padding: 0;

    background: black;

    .logo-vat
    {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        img
        {
            width: 40%;
        }
    }
}